<p>
  fileupload works!
</p>
<hr><hr>


<div draggable="true" ngClass="{{dragAreaClass}}" >
  <div class="row">
    <div class="col-md-12 text-center" >
      <a href="javascript:void(0)" (click)="file.click()" >
        Click to browse 
      </a>
      Or Drag & Drop to upload your files
      <input type="file" 
            id="cin" name="cin"
             #file 
             [multiple]="(maxFiles > 0)"
             (change) = "onFileChange($event)"
             style="display:none" />
    </div>
    <div class="linear-progress-material small" [class.displaynone]="(!displaynone)" data-id="{{displaynone}}">
        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
    </div>
  </div>

</div>
<div class="row error" *ngIf="errors.length > 0">    
  <ul>
    <li *ngFor="let err of errors">{{err}}</li>
  </ul>
</div>  